@font-face {
    font-family: kamran;
    src: url('../font/Far_Kamran.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: kamran;
    font-weight: bold;
}

body {
    overflow-x: hidden;
}
.flex {
    display: flex;
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.logo {
    padding-right: 20px;
}


nav ul {
    list-style: none;
}

li {
    display: inline-block;
}

nav a {
    color: #fff;
    transition: all .5s ease-in;
    padding-left: 40px;
}

nav a:hover {
    color: #ff0000;
    text-decoration: none;
}

.secendery {
    background-color: #00bfff;
    transition: all 0.6s ease-in;
    box-shadow: 0 0 17px 0;
}

.slider, .slider ul, .slider li {
    height: 710px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.slider {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/slide1.jpg');
    background-size: 100% 100%;

}

.slider h2 {
    margin-top: 270px;
}

.slider span {
    color: orange;
}

.slider a {
    padding: 12px 50px;

    border-radius: 6px;
    margin-right: 10px;
}

.slider a:hover {
    color: #fff;
    opacity: 0.7;
}

.btn1 {
    color: #fff;
    background-color: #00bfff;
    transition: .4s ease-out;
}

.btn1:hover {
    color: #fff;
    background-color: #1e90ff;
}

.btn2 {
    background-color: #ffa500;
    color: #fff;
    transition: .4s ease-in;
}

.btn2:hover {
    color: #fff;
    background-color: #e67e22;
}

.img2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/slide2.jpg');
}

.img3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/slide3.jpg');
}

.slider i {
    font-size: 35px;
    margin-left: 10px;
}

.intro {
    position: relative;
    padding: 100px 0;
    text-align: center;
}

.head-text {
    position: relative;
    margin-bottom: 75px;
}

.head-text::before {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-right: -3%;
    width: 6%;
    height: 2px;
    background-color: #00bfff;
    transition: .3s ease;
    z-index: 1;

}

.head-text:hover::before {
    width: 24%;
    margin-right: -12%;

}

.head-text::after {
    content: "";
    position: absolute;
    top: 100%;
    right: 50%;
    margin-right: -12%;
    width: 24%;
    height: 2px;
    background-color: #e1e1e1;
}

.head-text p {
    color: #818181;
    display: inline-block;
    padding: 0 0 20px;
    line-height: 24px;
    position: relative;
    letter-spacing: 0.025em;
}

.intro-block {
    background-color: #f7f7f7;
    position: relative;
    margin: 50px 0 0;
    padding: 120px 25px 40px;
}

.intro-block h3 {
    font-size: 24px;
    font-weight: 400;
    color: #00bfff;
    margin-bottom: 30px;
}

.intro-block p {
    color: #505050;
}

.intro-block:hover h3, .intro-block:hover p {
    color: #f6f6f6;
}

.intro-block:hover, .intro-block.active {
    background: #0AABE1;
}

.intro-block:hover {
    transition: .6s ease;
}

.intro-block .intro-icon {
    position: absolute;
    top: -31px;
    right: 50%;
    margin-right: -31px;
}

.intro-block .fa {
    width: 63px;
    color: #fff;
    font-size: 30px;
    height: 63px;
    line-height: 2;
    background: #00bfff;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #cceef9;
}

.intro-block:hover .fa, .intro-block.active .fa {
    color: #00bfff;
    background: #fff;
    box-shadow: 0 0 0 10px #00bfff;
    transition: .6s ease;
}

.feature {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/slide1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
    padding: 100px 0;

}

.single-feature {
    position: relative;
    width: 345px;
    text-align: center;
    padding: 30px 0;
    border-left: 1px solid #65c8e5;
    border-bottom: 1px solid #65c8e5;
    transition: .3 ease;
}



.featured-icon {
    display: inline-block;
    margin-bottom: 20px;
}

.single-feature i {
    border: 1px solid #fff;
    padding: 15px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #00a7dd;
    font-size: 30px;
    transition: .3s ease;
}

.feature-block:hover .single-feature {
    border-color: #fff;
    transition: .3s ease;
}

.single-feature:hover .featured-icon .fa {
    border: 2px solid #00a7dd;
    background-color: #fff;
    color: #00bfff;
}

.single-feature:nth-of-type(even) {
    border-left: none;
}

.single-feature:nth-last-child(2) {
    border-bottom: none;
}

.single-feature:last-child {
    border-bottom: none;
}

.feature-mockup {
    position: relative;
    bottom: -100px;
}

.feature p {
    color: #fff;
}

.more-feature {
    padding: 100px 0;
}

.more-feature .title h2 {
    color: #000;
}

.more-feature .title p {
    color: #a9a9a9;
}

.feature-list ul {
    list-style: none;
}

.feature-list li {
    position: relative;
    margin-bottom: 30px;
    padding-right: 80px;
}

.feature-list li:hover i {
    color: #fff;
    background: #00a7dd;
    transition: .5s ease;
}

.feature-icon {
    position: absolute;
    right: 0;
}

.feature-icon i {
    width: 63px;
    height: 63px;
    text-align: center;
    font-size: 27px;
    background: #fff;
    color: #00bfff;
    border-radius: 50%;
    border: 2px solid #00bfff;
    line-height: 60px;
}

.feature-details h3 {
    color: #00bfff;
    font-weight: 400;
}

.feature-details p {
    color: #616161;
}

.testimonials {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url('../images/slide1.jpg') no-repeat fixed center center;
    color: #fff;
    padding: 100px 0;
}

.testimonials p {
    color: #fff;
}

.testimonials img {
    border-radius: 100%;
    border: 2px solid #0AABE1;
    width: 150px;
    height: 150px;
    padding: 5px;
}

.testimonials .carousel-indicators {
    margin-bottom: -70px;
}

.testimonials .carousel-indicators li.active {
    background-color: #0AABE1;
}

.team {
    padding: 100px 0;
}

.team .head-text {
    margin-bottom: 100px;
}

.img-team {
    position: absolute;
    right: 50%;
    margin-right: -50px;
    top: -50px;
    overflow: hidden;
    min-height: 100px;
    height: 100px;
    width: 100px;
    min-width: 100px;
    border: 10px solid #0AABE1;
    border-radius: 50%;
}

.img-team img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;
}

.team-block {
    text-align: center;
    position: relative;
}

.team-block:hover .team-description {
    background-color: #0AABE1;
    color: #fff;
    transition: .3s ease;
}

.team-block:hover .team-title, .team-block:hover .team-title span {
    color: #fff;
    transition: .4s ease;
}

.team-block:hover .team-social i {
    border-color: #fff;
    background-color: #0AABE1;
    color: #fff;
    transition: .6s ease;
}

.team-block h3 {
    padding-top: 70px;
    margin-bottom: 5px;
}

.team-block:hover .team-description p {
    color: #f9f9f9;
    transition: .5s ease;
}

.team-block span {
    color: #6c6c6c;

}

.team-block p {
    color: #696969;
    padding: 25px 15px;
    line-height: 28px;
}

.team-description {
    background-color: #f9f9f9;
}

.team-social {
    padding-bottom: 15px;
    text-align: center;
}

.team-social a {
    margin: 0 6px;
}

.team-social i {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #fff;
    color: #00bfff;
    border-radius: 50%;
    border: 3px solid #0AABE1;
    padding-top: 10px;
}

.download {
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .9)), url('../images/slide2.jpg') fixed no-repeat center center;
    padding: 100px 0;
}

.download .head-text p {
    color: #fff;
}

.download a {
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 9px 50px 13px 50px;
    color: #fff;
    margin: 0px 10px;
    transition: .3s ease;
}

.download i {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.download a:hover {
    background: #fff;
    color: #0AABE1;
}

.contact {
    padding: 100px 0;
}

.divider {
    border-left: 1px solid #d9d9d9;
}

.contact h3 {
    margin-bottom: 20px;
    color: #000000;
}

.contact h5 {
    color: #3a3a3a;
    margin-bottom: 5px;
}

.contact span {
    display: block;
}

.contact ul li {
    overflow: hidden;
    margin-bottom: 25px;
}

.contact ul li:last-child {
    margin-bottom: 0;
}

.contact ul i {
    float: right;
    width: 25px;
    color: #0AABE1;
    font-size: 25px;
}

.contact-address ul li .address-phone {
    float: right;
    width: 180px;
    padding-right: 25px;
}

.contact-block {
    padding-right: 25px;
}

.contact .form-control {
    margin-bottom: 30px;
}

.contact textarea {
    min-height: 115px;
}


@media (max-width: 992px) {
    .flex {
        justify-content: center;
    }
    nav {
        margin-right: auto;
        text-align: left;
        background-color: #00bfff;
    }
    
    nav li {
        margin: -10px;
    }
    .feature-list li {
        position: relative;
        margin-bottom: 30px;
        padding-right: 0;
    }
    .feature-icon {
        position: static;
        margin-bottom: 10px;
    }
}